<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
        <title>Register</title>
    </head>
    <body class="App">
        <div class="App-header">
            <h1>Register a new account:</h1>
        </div>
        <main>
            <form action="/api/users/create" method="POST">
                <div class="formsWrap">
                    <div class="row">
                        <label for="username">Username:</label>
                        <input type="text" name="username" />
                    </div>
                    <div class="row">
                        <label for="password">Password:</label>
                        <input type="text" name="password" />
                    </div>
                    <input type="submit" value="submit" name="submit" />
                </div>
            </form>
        </main>
    </body>
</html>
