html {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
        Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    padding: 5px;
}
.site-title {
    text-align: center;
    margin-right: auto;
}
.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-items a {
    padding: 10px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
}
.table-head,
.row {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
    padding: 10px;
    border: solid 1px black;
    min-width: 50vw;
    text-align: center;
}
dialog {
    text-align: center;
    border: none;
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.25);
    max-width: 90vw;
}

dialog[open] {
    animation: appear 0.15s cubic-bezier(0, 1.8, 1, 1.8);
}

dialog::backdrop {
    background: rgba(92, 91, 91, 0.719);
}

dialog .actions {
    display: flex;
    justify-content: space-around;
}
.App {
    text-align: center;
    min-height: 100vh;
    max-height: 100vh;
    color: rgba(255, 255, 255, 0.753);
    background-color: #202124;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1.5rem;
}
.App-header,
header,
footer {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
}
main {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }
form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formsWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
}
.formGroup {
    display: flex;
    flex-direction: row;
    overflow-wrap: break-word;
    align-items: center;
    width: 50vw;
}
.formGroup label {
    width: 200px;
}
.formGroup input,
.formGroup select {
    width: 100%;
    padding: 5px;
    margin: 5px;
}
form input:focus,
form input:active,
form select:focus,
form select:active {
    color: black !important;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-3rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
